html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#knobContainer{
    display: block; 
    width: 100%;
    left: 2%;
    margin: 0;
    height: 200px;
    background: #000;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    
    background: rgba(120,120,120,1);
    background: -moz-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(74,74,74,1) 49%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(120,120,120,1)), color-stop(49%, rgba(74,74,74,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(74,74,74,1) 49%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(74,74,74,1) 49%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(74,74,74,1) 49%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(120,120,120,1) 0%, rgba(74,74,74,1) 49%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#000000', GradientType=0 );
}

#keyboardContainer{
    /* position: absolute; */
    position: relative;
    display:block;
    /* bottom: 10px; */
    width: 100%;
    margin: 0;
}

#keyboard{
width: 100  %;
margin: auto;
overflow: hidden;
}

.whiteKey{
    background: #fff;
    position: absolute;
    display: inlne-block;
    border: 1px solid #454545;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100%;
    top: 0;
    z-index: 10;
}

.blackKey{
    position: absolute;
    background: #000;
    top: 0;
    border: 1px solid #454545;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 60%;
    z-index: 20;
    box-shadow: 4px 1px 4px #999;
}

.key.active{
    background: orange;
    cursor: pointer;
}

.frame_piece{
    /* background-image: url('../img/wood_texture_hor.svg'); */
    background-size: 100%;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
}
.frame_top{
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 11%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 89%, rgba(0,0,0,0) 100%), url('../img/wood_texture_hor.svg'); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.2)), color-stop(89%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))), url('../img/wood_texture_hor.svg'); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%), url('../img/wood_texture_hor.svg'); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%), url('../img/wood_texture_hor.svg'); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%), url('../img/wood_texture_hor.svg'); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%), url('../img/wood_texture_hor.svg'); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    
    background-size: 100%;
}

.frame_left, .frame_right{
    
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 11%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 89%, rgba(0,0,0,0) 100%), url('../img/wood_texture_vert.svg'); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.2)), color-stop(89%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))), url('../img/wood_texture_vert.svg'); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%), url('../img/wood_texture_vert.svg'); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%), url('../img/wood_texture_vert.svg'); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%), url('../img/wood_texture_vert.svg'); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%), url('../img/wood_texture_vert.svg'); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

    background-size: 100%;
}

.center_section{
    width: -webkit-calc(100% -80px);
    width: -moz-calc(100% -80px);
}

.frame_left, .center_section, .frame_right {
    float: left;
    height: 100%;
    width: 40px;
}
.center_section {
    width: 84%;
}
.main_container {
    width: 100%;
    overflow: hidden;
}