.knob{
    width: 48px;
    height: 48px;
    /* background: url('../img/knob01.png'); */
    background: url('../img/knob.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

.knobHolder{
    width: 48px;
    height: 68px;
}

.knobCaption{
    width: 100%;
    height: 28px;
    font-size: 10px;
    color: #fff;
    text-align: center;
}